@import url("theme.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700;800&display=swap');
@font-face {
  font-family: Gothamlight;
  src: url('../fonts/GothamLight.ttf');
}
@font-face {
  font-family: Gotham-medium;
  src: url('../fonts/GothamMedium.ttf');
}
@font-face {
  font-family: Gotham-bold;
  src: url('../fonts/GothamBold.ttf');
}
@font-face {
  font-family: Gothambook;
  src: url('../fonts/GothamBook.ttf');
}
@font-face {
  font-family: CeraPro;
  src: url('../fonts/CeraProLight.otf');
}

a{text-decoration: none !important;}
.font-gothamlight{ font-family: Gothamlight; }
.font-gothammedium{ font-family: Gotham-medium; }
.font-gothambold{ font-family: Gotham-bold; }
.font-gothambook{ font-family: Gothambook; }
.font-cerapro{   font-family: CeraPro; }
/*.font-montserrat{font-family: 'Montserrat', sans-serif;}*/
.font-weight500{font-weight: 500;}
.font-weight600{font-weight: 600;}
.font-weight800{font-weight: 800;}
.fontsize8px{font-size: 8px;}
.fontsize9px{font-size: 9px;}
.fontsize10px{font-size: 10px;}
.fontsize11px{font-size: 11px !important;}
.fontsize12px{font-size: 12px !important;}
.fontsize13px{font-size: 13px !important;}
.fontsize14px{font-size: 14px;}
.fontsize15px{font-size: 15px !important;}
.fontsize16px{font-size: 16px !important;}
.fontsize17px{font-size: 17px !important;}
.fontsize18px{font-size: 18px !important;}
.fontsize19px{font-size: 19px !important;}
.fontsize20px{font-size: 20px !important;}
.fontsize21px{font-size: 21px;}
.fontsize22px{font-size: 22px;}
.fontsize23px{font-size: 23px;}
.fontsize24px{font-size: 24px;}
.fontsize25px{font-size: 25px;}
.fontsize26px{font-size: 26px;}
.fontsize27px{font-size: 27px;}
.fontsize28px{font-size: 28px;}
.fontsize29px{font-size: 29px;}
.fontsize30px{font-size: 30px;}
.fontsize31px{font-size: 31px;}
.border-radius15px{border-radius: 15px 15px;}
.border-radius10px{border-radius: 10px 10px;}
.border-radius25px{border-radius: 25px 25px;}
.text-orange{color: #f17121;}
.text-blue{color: #0058a5;}
.text-gray{color: #afadad;}
.text-darkgray{color: #606060;}
.text-black{color: #322F49;}
.bg-orange{background-color: #f17121;}
.bg-blue{background-color: #0058a5;}
.bg-gray{background-color: #f9f9f9;}
.bg-lightgray{background-color: #f1f9fc;}
.border-gray{border-color: #f9f9f9 !important;}
.border-orange{border-color: #f17121 !important;}
.bg-cover{background-size: cover; background-repeat: no-repeat;}
.letterspacing1px{letter-spacing: 1px;}
.letterspacing2px{letter-spacing: 2px;}
.letterspacing3px{letter-spacing: 3px;}
.maxwidth245px{    max-width: 245px;}
.maxwidth317px{ max-width: 317px;}
.maxwidth437px{max-width: 437px;}
.lineheight1px{line-height: 1.3;}
.lineheight1-3px{line-height: 1.5;}
.lineheight1-7px{line-height: 1.7;}
.lineheight2px{line-height: 2;}
.outline-none{outline: none !important;}
.overflow-hiden{overflow: hidden;}
.overflow-y{overflow-y: scroll;}
.pt-6{padding-top: 4.5rem;}
.pt-7{padding-top: 6.0rem;}
.pt-8{padding-top: 7.5rem;}
.pb-6{padding-bottom: 4.5rem;}
.pb-7{padding-bottom: 6.0rem;}
.pb-8{padding-bottom: 7.5rem;}
.h-img {
    height: 100px;
    overflow: hidden;
    margin-bottom: 2px;
    border: 1px solid #f7f7f7;
    border-radius: 9px 9px;
}
.hovericon:hover,.hovericon:active,.hovericon:focus{ background: #f17121; color: #fff; }
.overflow-y::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
  background-color: #e4e4e4;
}

.overflow-y::-webkit-scrollbar
{
  width: 4px;
  background-color: #ececec;
}

.overflow-y::-webkit-scrollbar-thumb
{
  background-color: #0058a5;
  border-radius: 25px 25px;
}
.left-right-0{
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.hoverbtn:hover, .hoverbtn:active, .hoverbtn:focus { background: #f17121 !important; border-color: #f17121 !important;}
.hoverlink:hover, .hoverlink:active,.hoverlink:focus{color: #f17121;text-decoration: none;}
.aticon{background-color: #f17121;color: #fff;}
.activeicon{background-color: #f17121 !important; color: #fff;}
button{outline: none !important;}
body{background: #f1f9fc;}
.h-97{height: 97vh;}
.hoverbtn1:hover,.hoverbtn1:active,.hoverbtn1:focus{background: #fff;color: #f17121 !important;
outline: none;}
.coloricon:hover i, .coloricon:active i, .coloricon:focus i {
    background: #f17121;  color: #fff;
}
.overlay-effect {
    left: 0;
    width: 100%;
    right: 0;
    bottom: -50%;
    background: rgb(0 88 165 / 60%);
    padding: 5px;
    border-radius: 0px 0px 6px 6px;
    transition: all 0.4s ease;
}
.card:hover .overlay-effect{
  bottom: 0;
}

.tabs-login li.nav-item a {
    border: 0px;
    border-top: 2px solid #d8d8d8;
    border-radius: 0px 0px;
    padding: 5px 13px;
    color: #e4e4e4;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.tabs-login li.nav-item a.active { border-color: #f17121;color: #f17121;
font-weight: 600;}

form.user ::-webkit-input-placeholder, .input-group ::-webkit-input-placeholder, 
.contact-form ::-webkit-input-placeholder, textarea:-moz-placeholder, textarea::-webkit-input-placeholder{ color: #cecece; }

.carousel-wrap {
  position: relative;
}

.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i { font-size: 52px;}

.owl-nav .owl-prev {left: -30px;}

.owl-nav .owl-next {right: -30px;}
.activity-carousel .owl-item {padding: 7px;}
/*.sidebar .nav-item.active .nav-link:before {
    content: "";
    position: absolute;
    right: -4px;
    border-radius: 50% 50%;
    background: #f17121;
    width: 8px;
    height: 8px;
    top: 0;
    bottom: 0;
    margin: auto;
}*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.form-group.has-error input {
    border-color: #f17121 !important;
}
.checkcustom {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkcustom input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #f5f5f5;
}
.checkcustom:hover input ~ .checkmark {
  background-color: #ececec;
}
.checkcustom input:checked ~ .checkmark {
  background-color: #f5f5f5;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkcustom input:checked ~ .checkmark:after {
  display: block;
}
.checkcustom .checkmark:after {
    left: 6px;
    top: 1px;
    width: 6px;
    height: 13px;
    border: solid #f4975c;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checksmall .checkmark:after {
    width: 4px;
    height: 8px;
    left: 3px;
    top: 0;
}
.top_spac{ margin: 20px 0 0;}



.headind_srch{ padding:10px 0px 10px 20px; overflow:hidden; }

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.search-bar{border-color: #fff !important;box-shadow: 1px 1px 10px #e2e2e2;}
.srch_bar .input-group-addon button {
    border: medium none;
    color: #ffffff;
    font-size: 18px;
    background: #f38846;
    position: absolute;
    right: 0px;
    padding: 14px 20px;
    border-radius: 25px 0px 0px 25px;
    top: -6px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#606060; margin:0 0 3px 0;
 font-family: Gothambook;}
.chat_ib h5 span{ font-size:11px; float:right;color: #0058a5; font-family: Gothambook;}
.chat_ib p{ font-size:10px; color:#989898; margin:auto; font-family: Gothambook;}
.chat_img {
  float: left;
  width: 17%;
}
.chat_ib {
  float: left;
  padding: 7px 0 0 15px;
  width: 83%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 421px; overflow-y: scroll;}

.inbox_chat::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.inbox_chat::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.inbox_chat::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
   background: #e2e2e2;
    font-family: Gothambook;
    border-radius: 0px 10px 10px 10px;
    color: #646464;
    font-size: 13px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.time_date {
  color: #0058a5;
  display: block;
  font-size: 10px;
  margin: 8px 0 0;
  font-family: Gothambook;
}
.received_withd_msg { width: 57%;}


 .sent_msg p {
  background: #f6f7f9;
    font-family: Gothambook;
  border-radius: 10px 0px 10px 10px !important;
  font-size: 13px;
  margin: 0; color: #646464;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px; font-family: Gothambook;}
.sent_msg {
  float: right;
  width: 72%;
}
.input_msg_write input {
  border: medium none;
  width: 100%;
    padding: 14px 47px;
}

.type_msg {position: relative;}
.msg_send_btn {
    background: none;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 16px;
    top: 8px;
    width: 32px;
}
.msg_send_btn img {
    width: 100%;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 354px;
  overflow-y: auto;
  padding-right: 7px;
  font-family: Gothambook;
}
.msg_history::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.msg_history::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.msg_history::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}

.chat_img img {
    width: 100%;
}

.incoming_msg_img img {
    width: 100%;
}
.btn.dropdown-toggle:after {
    display: none;
}
.avatar-upload {
    position: relative;
    max-width: 130px;
    margin: 2px;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
    color: #a4a4a4;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
.avatar-upload .avatar-preview {
  width: 110px;
  height: 110px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f9f9f9;
  background: #f9f9f9;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 40vh;
}
.scroll-style::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.scroll-style::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.scroll-style::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
.checklabel .checkmark {
    border: 2px solid #f1734b;
    background: none;
    width: 13px;
    height: 13px;
    top: 2px;
}
.checklabel {
    padding-left: 20px;
    color: #000;
    font-size: 11px;
}
.border-right-before:before {
    content: "";
    position: absolute;
    right: 11px;
    height: 71px;
    width: 1px;
    background: #b3b3b3;
    top: 0;
    bottom: 0;
    margin: auto;
}

.uploader .file-upload {
  clear: both;
  width: 100%;
  padding: 1rem 1.5rem;
  max-width: 215px;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  border: 2px dashed #f1f1f1;
  margin-bottom: 0px;
  transition: all 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.uploader label:hover {
  border-color: #454cad;
}
.uploader label.hover {
  border: 3px solid #454cad;
  box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
  transform: scale(0.8);
  opacity: 0.3;
}
.uploader #start {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #start.hidden {
  display: none;
}
.uploader #start i.fa {
  font-size: 44px;
  color: #4d8ac0;
  margin-bottom: 0.4rem;
  transition: all 0.2s ease-in-out;
}
.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #response.hidden {
  display: none;
}
.uploader #response #messages {
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 13px;
}
.uploader #file-image {
  display: inline;
  margin: 0 auto 0.5rem auto;
  width: auto;
  height: auto;
  max-width: 180px;
  width: 100%;
}
.uploader #file-image.hidden {
  display: none;
}
.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
.uploader #notimage.hidden {
  display: none;
}
.uploader progress,
.uploader .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader input[type=file] {
  display: none;
}
.iconsize{width: 12px !important;}
.mt-minus{margin-top: -3em;}
.custom-navtabs li a{
    color: #0058a5;
    border: 1px solid #0058a5;
    padding: 7px 25px;
    font-size: 12px;
    display: block;
    text-decoration: none;
}
.custom-navtabs li a.active{ background: #0058a5; color: #fff; font-family: Gotham-medium; }
.custom-navtabs li:nth-child(2) a, .custom-navtabs li:nth-child(3) a { border-left: 0px; }
.fileinput::-webkit-input-placeholder{color: #fff;}
.mt-up { margin-top: -2.3em;}
.inrightside{right: 0 !important; left: auto !important;}
.hide-collapse{display: none;}
.toggled span{ display: none }
.toggled .hide-collapse{display: inline-block;}
.comment-overlay:hover {  background: #fef8f4; }
.w-fix{ width: 70%; }
.w-93{width: 93%;}



input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background: url('../images/Asset19.png');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
.small .custom-control-label:before {
    border-radius: 2px 2px;
    width: 13px;
    height: 13px;
    top: 5px;
}
.custom-control-input:checked~.custom-control-label::after {  left: -25px; }
.sidebar-dark .nav-item.active .nav-link{
    font-weight: normal; 
    font-family: Gotham-bold;
}
.form-submit .panel-body ::-webkit-input-placeholder, .form-submit .panel-body select option { color: #afafaf; }
.form-submit .panel-body select{color: #606060;}



@media only screen and (max-width : 650px) {
.sidebar .nav-item .nav-link span { line-height: 2.2;}
.activity-carousel .owl-item .media img { width: 100% !important;}
.activity-carousel .owl-item .media {
    width: 100%;
    display: block;
}
.activity-carousel .owl-item .media .media-body { padding: 12px 10px 0px;}
.sidebar { overflow: hidden;}
.sidebar { width: 0rem;overflow: hidden;}
.scroll-to-top{display: none;}
.h-97{height: 100%;}
.logo-cs { top: 1px !important;}
.mobile-h{height: 100% !important;}
.mt-up { margin-top: 1em;}
.topbar .logo { width: 110px; }
.max-100{max-width: 100% !important;}
.nav.nav-tabs li a {
    padding: 7px 17px;
    font-size: 10px;
}
}


input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    background: url('../images/Asset19.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}